@import 'reference';

.open-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

// @font-face {
//   font-family: 'fontAwesome';
//   src: url('./fonts/FontAwesome.eot'); /* IE9 Compat Modes */
//   src: url('./fonts/FontAwesome.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('./fonts/fontawesome-webfont.woff') format('woff'), /* Modern Browsers */
//        url('./fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('./fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
// }

.fullWidth {
    width: 100%;
    min-width: 100%;
}

.footer {
    height: 200px;
}

.section-title {
    color: $blackBlue;
    font-weight: bold;
    font-size: 24px;
}

.nil-padding {
    padding: 0 !important; 
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

.ad {
    position: relative;
}

.adText {
    background: black;
    width: 30%;
    position: absolute;
    height: 100%;
    right: 15%;
    padding: 20px;
    color: #FFF;
    .title {
        font-size: 24px;
    }
    .text {
        font-size: 14px;
    }
}

.login-container {
    width: 100vw;
    height: 100vh;
    background: url("/images/login3.jpg");
    position: absolute;
    background-size: cover;
    .message {
        position: absolute;
        margin-left: 80px;
        color: #FFF;
        top: 20%;
        font-weight: bold;
        font-size: 32px;
    }
    .box {
        width: 400px;
        position: absolute;
        right: 80px;
        top: 20%;
        background: white;
        text-align: center;
        .oauth {
            width: 70%;
            border: 1px solid black;
            display: block;
            margin: 0 auto;
        }
        .facebookSignIn:before, .googleSignIn:before {
            font-family: 'FontAwesome';
            font-size: 18px;
            padding: 5px;
        }
        .googleSignIn:before {
            content: '\f1a0';
        }
        .facebookSignIn:before {
            content: '\f230';
        } 
    }
}