/*Color palette*/
 $inkBlue : #4257b2;
 $lightBlue : #4fc8ed;
 $darkerBlue : #3fa3ba;
 $lightestGrey : #f0f0f0;
 $blackBlue : #2d363b;
 $ourGreen : #6ec829;
 $ourYellow : #f8e709;

 $textDeactiveGrey : #868889;
 $lightText1 : #555;
 $lightText2 : #888888;